*{
   margin: 0; 
   padding: 0;
   font-family: Gill Sans, Gill Sans MT, Calibri, sans-serif, monospace;
}

.banner{
  width: 100%;
  height: 150vh; 
  background-image: url(background.png);
  background-size: cover; 
  background-position: center; 
}

.navbar{
  width: 85%;
  margin: auto;
  padding: 35px 0; 
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo { 
  width: 120px;
  cursor: pointer;
}

.navbar ul li{
  list-style: none; 
  display: inline-block;
  margin: 0 20px;
}

.navbar ul li a{
  text-decoration: none; 
  color: #fff; 
   letter-spacing: 0.1em;
}

.container {
  margin-left: 20%;
  align-items: center;
  justify-content: center;
  padding-bottom: : 1200px;
  padding-left: 100px;
  width: 800px;
  background-color: #fff;
  border-radius: 10px;
  padding-top: 10px;
  
}


.container h1 {
  letter-spacing: 0.2em;
  color: #7e4924;
}


.btn{
   display: block;
   width: 50%;
   cursor: pointer;
   border-radius: .5rem;
   margin-top: 1rem;
   font-size: 1.1rem;
   padding:1rem 3rem;
   background-color: #7e4924;
   text-align: center;
   font-color: #fff;
}

.btn:hover{
   background: var(--black);
}

.message{
   display: block;
   background: var(--bg-color);
   padding:1.5rem 1rem;
   font-size: 2rem;
   color:var(--black);
   margin-bottom: 2rem;
   text-align: center;
}